<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome ADMIN!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>

<body>
    <div class="d-flex" id="wrapper">

        {# Sidebar #}
        {{ include('admin/includes/sidebar.html.twig') }}

        <div id="page-content-wrapper">

            {# Topbar #}
            {{ include('admin/includes/topbar.html.twig') }}

            <div class="container-fluid" id="main-content">
                {% block body %}
                {% endblock body %}
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</body>
</html>