<div class="dark-blue-bg border-right-light" id="sidebar-wrapper">

    <div class="sidebar-heading">Time2web </div>

    <div class="list-group list-group-flush">
        <a href="{{ path('admin_index') }}" class="list-group-item list-group-item-action dark-blue-bg">
            <i class="fas fa-tachometer-alt fa-fw"></i> Dashboard
        </a>
        <a href="{{ path('admin_page_index') }}" class="list-group-item list-group-item-action dark-blue-bg">
            <i class="fas fa-file fa-fw"></i> Pages
        </a>
        <a href="{{ path('admin_post_index') }}" class="list-group-item list-group-item-action dark-blue-bg">
            <i class="fas fa-newspaper fa-fw"></i> Posts
        </a>
        <a href="{{ path('admin_user_index') }}" class="list-group-item list-group-item-action dark-blue-bg">
            <i class="fas fa-users fa-fw"></i> Users
        </a>
        <a href="" class="list-group-item list-group-item-action dark-blue-bg">
            <i class="fas fa-sliders-h fa-fw"></i> Configuration
        </a>
    </div>
</div>