<nav class="navbar navbar-expand-lg d-flex bd-highlight mb-3 dark-blue-bg border-bottom">
    <button class="btn btn-primary mx-2" id="menu-toggle">
        <i class="fas fa-chevron-left"></i>
    </button>

    <div class="ms-auto" id="navbarNavDarkDropdown">
        <ul class="mb-0">
            <li class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i> {{ app.user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>

{#    <div class="dropdown ms-auto">#}
{#        <button class="dropdown-toggle" id="dropdownUserMenu"#}
{#                data-bs-toggle="dropdown" aria-expanded="false">#}
{#            <i class="fas fa-user fa-fw"></i> {{ app.user.username }}#}
{#        </button>#}

{#        <ul class="dropdown-menu" aria-labelledby="dropdownUserMenu">#}
{#            <li><a class="dropdown-item" href="#">Profile</a></li>#}
{#            <li><hr class="dropdown-divider"></li>#}
{#            <li><a class="dropdown-item" href="#">Logout</a></li>#}
{#        </ul>#}
{#    </div>#}
</nav>