/*
Bleu fonce background: #1b1e3d
Bleu clair et vif: #5396e7
Plus clair pour border et texte: #d4dcff
*/

@import "~bootstrap/scss/bootstrap";
@import url('~@fortawesome/fontawesome-free/css/all.css');

//  * * * * * * * * * * * * * *  CUSTOM COLOR MAP

$dark-blue:     #1b1e3d;
$middle-blue:   #5396e7;
$light-blue:    #d4dcff;

$dark-green:    #19a54c;
$middle-green:  #3ce077;
$light-green:   #80e5a4;

$light-red:     #e35d6a;

// FORM SPECIALS
.checkbox-switch-input {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: $light-red;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    //box-shadow: inset 0 0 3px rgb(27, 30, 61);
    transition: background 300ms linear;
}

.checkbox-switch-input:checked {
    background: $light-green;
}

.checkbox-switch-input::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: $dark-blue;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 300ms linear;
}

.checkbox-switch-input:checked::before {
    left: 20px;
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-control[type=file] {
    overflow: hidden;
}

// * * * * * * * * * * * * * * DROPZONE
#actions {
    margin: 2em 0;
}

/* Mimic table appearance */
div.table {
    display: table;
}
div.table .file-row {
    display: table-row;
}
div.table .file-row > div {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
}
div.table .file-row:nth-child(odd) {
    background: #f9f9f9;
}

/* The total progress gets shown by event listeners */
#total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#previews .file-row .delete {
    display: none;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
    display: none;
}
#previews .file-row.dz-success .delete {
    display: block;
}

//    #post-reference-list {
//    color: $dark-blue;
//
//    .btn-primary,
//    .btn-danger {
//        color: $light-blue;
//    }
//
//    .drag-handle {
//        .fa-arrows-alt {
//            cursor: grab;
//        }
//    }
//    #sortable-item {
//        //background-color: $light-blue;
//        border: 1px solid $dark-blue;
//        border-radius: 8px;
//    }
//}


// END * * * * * * * * * * * * * * DROPZONE




// BTN
.btn-primary {
    background-color: $middle-blue;
    border: 1px solid $dark-blue;

    //border: 1px solid $light-blue;
}

.btn-success {
    background-color: $middle-green;
    border: 1px solid $dark-green;
}

// Special THEMES and nav
.dark-blue-bg {

    background-color: $dark-blue;

    a {
        color: $light-blue;
    }

    a .active {

    }

    a:hover,
    a:focus {
        color: $middle-blue;
    }

    .btn-primary {
        border: 1px solid $light-blue;
        color: $light-blue;
    }

    .btn-success {
        border: 1px solid $dark-blue;
        color: $light-blue;
    }

    .btn-success:hover {

    }

    .list-group-item-action:hover,
    .list-group-item-action:focus {
        z-index: 1;
        text-decoration: none;
        background-color: transparent;
    }

    .dark-blue-bg a:hover,
    .dark-blue-bg a:focus {
        color: #5396e7;
    }

    .dropdown-menu {
        background-color: $dark-blue;
        color: $light-blue;
        border: none;

        .fas {
            margin-right: 0.5em;
        }

        .dropdown-item:hover,
        .dropdown-item:focus {
            color: $middle-blue;
            background-color: transparent;
        }
    }

    .list-group-item-action {

        border: none;

        .fas {
            margin-right: 0.5em;
        }
    }

    .list-group-item-action:hover,
    .list-group-item-action:focus {
        z-index: 1;
        text-decoration: none;
        background-color: transparent;
    }
}

#sidebar-wrapper {
    .sidebar-heading {
        color: $middle-blue;
    }
}

.dropdown-divider, .border-right-light {
    border-top: 1px solid $light-blue;
}

#main-content {
    margin-top: 1.5rem;
}

.modal-header {
    background-color: $dark-blue;
    color: $light-blue;

    button,
    button:hover{
        color: $light-blue;
    }
}

.modal .fa-times {
    color: $light-blue;
    cursor: pointer;
}



// END * * * * * * * * * * * * * * CUSTOM COLOR MAP

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
